* {
    margin: unset;
    padding: unset;
}

body {
    background: #f2f2f2;
}

nav {
    background: #00805a;
    height: 3rem;
    line-height: 3rem;
    color: white;
    padding-left: 2rem;
    margin-bottom: 1rem;
}
